@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");
html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav {
  background: linear-gradient(-135deg, rgb(32, 8, 21), rgb(4, 2, 31));
  top: 0;
}

.mob-nav {
  display: none;
}

.mobile-nav {
  display: none;
  padding-top: 20px;
  align-items: center;
  height: 45px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .mobile-nav {
    display: flex;
    position: fixed;
    background: linear-gradient(-135deg, rgb(32, 8, 21), rgb(4, 2, 31));
    width: 100%;
    padding-bottom: 10px;
    top: 0;
  }
}
.mobile-nav img {
  width: 40px;
  padding-left: 10px;
}
.mobile-nav h3 {
  flex: 1;
  font-size: 25px;
  padding-left: 10px;
  color: #ca3131;
}
.mobile-nav i {
  padding-right: 35px;
  font-size: 25px;
  color: #fff;
}

.mob-nav:checked + .mob-nav-wrapper {
  transform: scale(1, 1);
}

.mob-nav-wrapper {
  background: linear-gradient(-135deg, rgb(32, 8, 21), rgb(4, 2, 31));
  width: 100%;
  position: absolute;
  right: 0;
  top: 65px;
  transform: scale(1, 0);
  text-align: center;
}
.mob-nav-wrapper li {
  line-height: 45px;
  border-bottom: 1px solid #636060;
}
.mob-nav-wrapper li:hover {
  background-color: #474242;
}
.mob-nav-wrapper li a {
  color: #fff;
  letter-spacing: 3px;
  transition: 300ms;
  font-size: 20px;
}
.mob-nav-wrapper li:hover a {
  padding-left: 70px;
}

.webnav-slide {
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  background: linear-gradient(-135deg, rgb(32, 8, 21), rgb(29, 6, 31));
}

.webfixed {
  display: flex;
  padding: 30px 20px 0 20px;
}
@media screen and (max-width: 768px) {
  .webfixed {
    display: none;
  }
}
.webfixed img {
  width: 50px;
  height: 50px;
}
.webfixed > a {
  flex: 1;
  font-size: 25px;
  padding-left: 10px;
  color: #ca3131;
}
.webfixed ul {
  display: flex;
}
.webfixed ul li {
  padding-left: 30px;
}
.webfixed ul li a {
  font-size: 23px;
  color: #ca3131;
}
.webfixed ul li a::after {
  content: "";
  background-color: #3010e6;
  display: block;
  height: 4px;
  margin-top: 5px;
  transform: scale(0, 1);
  border-radius: 5px;
  transition: 300ms;
}
.webfixed ul li a:hover::after {
  transform: scale(1, 1);
}

.slide-wrapper {
  padding-top: 60px;
}
.slide-wrapper img {
  width: 90%;
  display: block;
  margin: 60px auto 0;
  height: 70vh;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
}
@media screen and (max-width: 768px) {
  .slide-wrapper img {
    width: 100%;
  }
}

.head-second {
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  margin-bottom: 30px;
}
.head-second img {
  background-color: #4f0b86;
  border-radius: 50px;
}

.tank-data {
  margin-top: 50px;
}
.tank-data h3 {
  color: #e3e2ee;
  font-size: 40px;
  padding: 10px 0 50px 30px;
  letter-spacing: 5px;
}

.tank-heros {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  padding: 0 10px;
}
@media screen and (max-width: 768px) {
  .tank-heros {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 0 10px;
  }
}
.tank-heros figure {
  background-color: #0f0635;
  border-radius: 10px;
  height: 200px;
  padding-bottom: 20px;
  transition: all 0.5s ease;
}
.tank-heros figure:hover {
  transform: scale(0.8, 0.8);
}
.tank-heros figure img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
}
.tank-heros figure figcaption {
  color: #bdb7f3;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}

button {
  display: block;
  margin: 50px auto 0;
  padding: 10px 20px;
  background-color: #1e0a4e;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 5px 20px 0px rgba(100, 101, 104, 0.5);
}
button:hover {
  background-color: #310333;
}
button a {
  color: #fff;
  font-size: 20px;
}

.fighter-data {
  margin-top: 50px;
}
.fighter-data h3 {
  color: #e3e2ee;
  font-size: 40px;
  padding: 10px 0 50px 30px;
  letter-spacing: 5px;
}

.fighter-heros {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  padding: 0 10px;
}
@media screen and (max-width: 768px) {
  .fighter-heros {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 0 10px;
  }
}
.fighter-heros figure {
  background-color: #0f0635;
  border-radius: 10px;
  height: 200px;
  padding-bottom: 20px;
  transition: all 0.5s ease;
}
.fighter-heros figure:hover {
  transform: scale(0.8, 0.8);
}
.fighter-heros figure img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
}
.fighter-heros figure figcaption {
  color: #bdb7f3;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}

button {
  display: block;
  margin: 50px auto 0;
  padding: 10px 20px;
  background-color: #1e0a4e;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 5px 20px 0px rgba(100, 101, 104, 0.5);
}
button:hover {
  background-color: #310333;
}
button a {
  color: #fff;
  font-size: 20px;
}

.marksman-data {
  margin-top: 50px;
}
.marksman-data h3 {
  color: #e3e2ee;
  font-size: 40px;
  padding: 10px 0 50px 30px;
  letter-spacing: 5px;
}

.marksman-heros {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  padding: 0 10px;
}
@media screen and (max-width: 768px) {
  .marksman-heros {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 0 10px;
  }
}
.marksman-heros figure {
  background-color: #0f0635;
  border-radius: 10px;
  height: 200px;
  padding-bottom: 20px;
  transition: all 0.5s ease;
}
.marksman-heros figure:hover {
  transform: scale(0.8, 0.8);
}
.marksman-heros figure img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
}
.marksman-heros figure figcaption {
  color: #bdb7f3;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}

button {
  display: block;
  margin: 50px auto 0;
  padding: 10px 20px;
  background-color: #1e0a4e;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 5px 20px 0px rgba(100, 101, 104, 0.5);
}
button:hover {
  background-color: #310333;
}
button a {
  color: #fff;
  font-size: 20px;
}

.assassin-data {
  margin-top: 50px;
}
.assassin-data h3 {
  color: #e3e2ee;
  font-size: 40px;
  padding: 10px 0 50px 30px;
  letter-spacing: 5px;
}

.assassin-heros {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  padding: 0 10px;
}
@media screen and (max-width: 768px) {
  .assassin-heros {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 0 10px;
  }
}
.assassin-heros figure {
  background-color: #0f0635;
  border-radius: 10px;
  height: 200px;
  padding-bottom: 20px;
  transition: all 0.5s ease;
}
.assassin-heros figure:hover {
  transform: scale(0.8, 0.8);
}
.assassin-heros figure img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
}
.assassin-heros figure figcaption {
  color: #bdb7f3;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}

button {
  display: block;
  margin: 50px auto 0;
  padding: 10px 20px;
  background-color: #1e0a4e;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 5px 20px 0px rgba(100, 101, 104, 0.5);
}
button:hover {
  background-color: #310333;
}
button a {
  color: #fff;
  font-size: 20px;
}

.mage-data {
  margin-top: 50px;
}
.mage-data h3 {
  color: #e3e2ee;
  font-size: 40px;
  padding: 10px 0 50px 30px;
  letter-spacing: 5px;
}

.mage-heros {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  padding: 0 10px;
}
@media screen and (max-width: 768px) {
  .mage-heros {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 0 10px;
  }
}
.mage-heros figure {
  background-color: #0f0635;
  border-radius: 10px;
  height: 200px;
  padding-bottom: 20px;
  transition: all 0.5s ease;
}
.mage-heros figure:hover {
  transform: scale(0.8, 0.8);
}
.mage-heros figure img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
}
.mage-heros figure figcaption {
  color: #bdb7f3;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}

button {
  display: block;
  margin: 50px auto 0;
  padding: 10px 20px;
  background-color: #1e0a4e;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 5px 20px 0px rgba(100, 101, 104, 0.5);
}
button:hover {
  background-color: #310333;
}
button a {
  color: #fff;
  font-size: 20px;
}

.support-data {
  margin-top: 50px;
}
.support-data h3 {
  color: #e3e2ee;
  font-size: 40px;
  padding: 10px 0 50px 30px;
  letter-spacing: 5px;
}

.support-heros {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  padding: 0 10px;
}
@media screen and (max-width: 768px) {
  .support-heros {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 0 10px;
  }
}
.support-heros figure {
  background-color: #0f0635;
  border-radius: 10px;
  height: 200px;
  padding-bottom: 20px;
  transition: all 0.5s ease;
}
.support-heros figure:hover {
  transform: scale(0.8, 0.8);
}
.support-heros figure img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
}
.support-heros figure figcaption {
  color: #bdb7f3;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}

button {
  display: block;
  margin: 50px auto 0;
  padding: 10px 20px;
  background-color: #1e0a4e;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 5px 20px 0px rgba(100, 101, 104, 0.5);
}
button:hover {
  background-color: #310333;
}
button a {
  color: #fff;
  font-size: 20px;
}

.proskin {
  margin: 50px 0;
}
.proskin h3 {
  color: #e3e2ee;
  font-size: 40px;
  padding-left: 20px;
  letter-spacing: 5px;
  margin-top: 50px;
}
.proskin p {
  color: #c6c2f0;
  margin-top: 20px;
  padding: 0 20px;
  line-height: 25px;
  text-align: justify;
  font-size: 20px;
}

.p2aicon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 0 20px;
  margin-top: 30px;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .p2aicon {
    grid-template-columns: 1fr;
  }
}
.p2aicon .p2acard {
  background: linear-gradient(135deg, rgb(62, 61, 75), rgb(4, 2, 31));
  padding: 0 10px;
  box-shadow: 0px 5px 20px 0px rgba(6, 42, 119, 0.5);
  border-radius: 10px;
  padding: 30px;
  display: flex;
  align-items: center;
  transform: scale(0.9, 0.9);
  transition: all 0.3s ease;
}
.p2aicon .p2acard:hover {
  transform: scale(1, 1);
}
.p2aicon .p2acard i {
  font-size: 50px;
  color: #99999b;
  justify-self: center;
}
.p2aicon .p2acard p {
  color: #c2c6f0;
  padding-left: 15px;
  line-height: 25px;
  text-align: justify;
  font-size: 20px;
}

footer {
  background-color: #140202;
  margin-top: 50px;
}
footer .footer-inner {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  margin: 0 auto;
  padding: 50px 0;
}
@media screen and (max-width: 768px) {
  footer .footer-inner {
    grid-template-columns: 1fr;
  }
}
footer .footer-inner img {
  width: 70%;
  margin: 0 auto;
  padding: 30px 0;
  transform: scale(0.9, 0.9);
  transition: all 0.3s ease;
}
@media screen and (max-width: 768px) {
  footer .footer-inner img {
    width: 40%;
  }
}
footer .footer-inner img:hover {
  transform: scale(1.1, 1.1);
}
footer .footer-inner ul {
  margin: 0 auto 30px;
}
footer .footer-inner ul h3 {
  color: #da0b0b;
  font-size: 30px;
  margin-bottom: 10px;
}
footer .footer-inner ul li {
  padding-top: 10px;
}
footer .footer-inner ul li a {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
}
footer .footer-inner form {
  width: 100%;
  position: relative;
}
footer .footer-inner form h3 {
  color: #da0b0b;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}
footer .footer-inner form input {
  margin: 20px auto 0;
  color: #180404;
  padding: 10px 30px;
  border: none;
  width: 80%;
  display: block;
}
footer .footer-inner form input:focus {
  border: none;
  outline: none;
}
footer .footer-inner form button {
  background-color: rgba(51, 68, 0, 0.5333333333) sf;
  color: #fff;
  font-weight: bold;
  padding: 10px 40px;
  border: none;
  font-size: 20px;
}
footer .footer-inner form button:hover {
  background-color: #aa1010;
}

.dev span {
  color: #fff;
  font-size: 70px;
  text-align: center;
  display: block;
}
.dev span i {
  padding: 0 20px 20px;
  transform: scale(0.7, 0.7);
  transition: all 0.3s ease;
}
.dev span i:hover {
  transform: scale(1, 1);
}
.dev span .fa-facebook {
  background: linear-gradient(135deg, rgba(3, 33, 163, 0.63), rgb(255, 0, 234));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dev span .fa-youtube {
  background: linear-gradient(-135deg, #ff0606, #6f7272);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dev span .fa-telegram {
  background: linear-gradient(-135deg, #0630e7, #05e9dd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dev span .fa-instagram {
  background: linear-gradient(-135deg, #ff050b, #f32156);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dev p {
  color: #f5d4d4;
  padding: 30px 0;
  text-align: center;
  font-size: 24px;
  box-shadow: 0 1px 0 #fff inset;
}

/*# sourceMappingURL=index.css.map */
