
include partials/_top

 nav 
   include partials/_mobilenav
   include partials/_webnav
   include partials/_slide
   include partials/_tank
   include partials/_fighter
   include partials/_marksman
   include partials/_assassin
   include partials/_mage
   include partials/_support
   include partials/_service
   include partials/_footer

  

include partials/_base