
include partials/_top

 nav 
   include partials/_mobilenav
   include partials/_webnav

   section.login.container 
       .loginbox 
          form
              div 
                 i.fa.fa-lock
              h1 Sign In
              input(type="text" placeholder="Username")
              input(type="email" placeholder="Email")
              input(type="password" placeholder="Password")
              input(type="submit" value="Sign In" class="submit") 
               

   include partials/_footer

  

include partials/_base