
include partials/_top

 nav 
   include partials/_mobilenav
   include partials/_webnav

   section.payment.container 
        .paymentSkin 
            .paymentShop 
               .leftPayment 
                   img(src="assets/img/Ml-season.png", alt="")
                   h3 Mobile Legend : Bang Bang 
                   p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est inventore quis atque eius temporibus reprehenderit, aperiam tempore, suscipit illum architecto eligendi labore? In provident libero blanditiis nostrum tenetur accusantium. Perferendis.
                   p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus dolore ducimus fugiat enim error voluptate vel, architecto, eum perferendis voluptates quaerat unde perspiciatis eligendi? Aperiam, inventore quis? Similique, quisquam molestiae.
                   p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, eius consequuntur porro aperiam culpa doloribus optio numquam hic unde asperiores, dolorem facilis ipsam obcaecati nemo tempore odio! Dolore, provident eos!
                   p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem distinctio ipsam a? Sint tenetur quidem, quam et voluptate neque voluptatibus, voluptas nulla a amet error magni dolore iste, necessitatibus modi.
               .rightPayment 
                   .first-process 
                       h4 1
                       h3 Enter User Id 
                       .userId 
                             input(type="text" placeholder="User Id")
                             input(type="text" placeholder="(Zone Id)")
                       p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum veniam possimus laboriosam aliquid omnis, sunt distinctio ad rerum facere, quam molestiae libero odio veritatis, eos inventore hic obcaecati officia iusto.
                   .second-process 
                       h1 2
                       h3 Amount To Be Paid 
                       .wavepay 
                           img(src="assets/img/wave.png", alt="")
                           p 20000
                       .mptpay 
                           img(src="assets/img/mpt.png", alt="")
                           p 20000
                       .atompay 
                           img(src="assets/img/atom.png", alt="")
                           p 20000
                       .ooredoopay 
                           img(src="assets/img/ooredoo.png", alt="")
                           p 20000
                   .third-process 
                        h1 3
                        h3  To Contect 
                        input(type="email" placeholder="Email")
                        input(type="phone" placeholder="Phone")
                   .fourth-process 
                        h1 4
                        h3 Click Button 
                        input(type="submit" value="Submit")



   include partials/_footer

  

include partials/_base