section.assassin-data.container
        .assassin 
             h3 Assassion Heros 
        - const assassinItem=[{image:"1.webp",title:"Joy"},{image:"2.jpg",title:"Benedetta"},{image:"3.jpg",title:"Hanzo"},{image:"4.webp",title:"Gusion"},{image:"5.webp",title:"Fanny"},{image:"6.jpg",title:"Ling"},{image:"7.jpg",title:"Lancelot"},{image:"8.jpg",title:"Karina"},{image:"9.jpg",title:"Hayabusa"},{image:"10.jpg",title:"Natalia"}]  
        .assassin-heros 
             each assassin in assassinItem
                  figure 
                      a(href="allAssassion.html") 
                          img(src=`assets/img/Assassion/${assassin.image}`, alt="")
                          figcaption= assassin.title

        button 
             a(href="allAssassion.html") See More...
