section.fighter-data.container
        .fighter 
             h3 Fighter Heros 
        - const fighterItem=[{image:"1.jpg",title:"minsitthar"},{image:"2.jpg",title:"Alpha"},{image:"3.jpg",title:"Lapu-Lapu"},{image:"4.jpg",title:"Yin"},{image:"5.jpg",title:"Silvanna"},{image:"6.webp",title:"Guinevere"},{image:"7.jpg",title:"Roger"},{image:"8.jpg",title:"Sun"},{image:"9.jpg",title:"Khaleed"},{image:"10.jpg",title:"Martis"}]  
        .fighter-heros 
             each fighter in fighterItem
                  figure 
                      a(href="allFighter.html") 
                          img(src=`assets/img/Fighter/${fighter.image}`, alt="")
                          figcaption= fighter.title

        button 
             a(href="allFighter.html") See More...
