section.mage-data.container
        .mage 
             h3 Mage Heros 
        - const mageItem=[{image:"1.webp",title:"Mage Hero-1"},{image:"2.jpg",title:"Mage Hero-2"},{image:"3.jpg",title:"Mage Hero-3"},{image:"4.png",title:"Mage Hero-4"},{image:"5.jpg",title:"Mage Hero-5"},{image:"6.webp",title:"Mage Hero-6"},{image:"7.jpg",title:"Mage Hero-7"},{image:"8.jpg",title:"Mage Hero-8"},{image:"9.jpg",title:"Mage Hero-9"},{image:"10.jpg",title:"Mage Hero-10"}]  
        .mage-heros 
             each mage in mageItem
                  figure 
                      a(href="#") 
                          img(src=`assets/img/Mage/${mage.image}`, alt="")
                          figcaption= mage.title

        button 
             a(href="#") See More...
