section.mage-data.container
        .mage 
             h3 Mage Heros 
        - const mageItem=[{image:"1.webp",title:"Kagura"},{image:"2.jpg",title:"Lunox"},{image:"3.jpg",title:"Gord"},{image:"4.png",title:"Vale"},{image:"5.jpg",title:"Harith"},{image:"6.webp",title:"Faramis"},{image:"7.jpg",title:"Cecilion"},{image:"8.jpg",title:"Kadita"},{image:"9.jpg",title:"Eudora"},{image:"10.jpg",title:"Valir"}]  
        .mage-heros 
             each mage in mageItem
                  figure 
                      a(href="mageSkinShop.html") 
                          img(src=`assets/img/Mage/${mage.image}`, alt="")
                          figcaption= mage.title

        button 
             a(href="allMage.html") See More...
