section.marksman-data.container
        .marksman 
             h3 Marksman Heros 
        - const marksmanItem=[{image:"1.webp",title:"Karrie"},{image:"2.jpg",title:"Yi Sun-shin"},{image:"3.jpg",title:"Kimmy"},{image:"4.jpg",title:"Granger"},{image:"5.jpg",title:"Bruno"},{image:"6.jpg",title:"Irithel"},{image:"7.jpg",title:"Wanwan"},{image:"8.jpg",title:"Clint"},{image:"9.jpg",title:"Popol and Kupa"},{image:"10.jpg",title:"Beatrix"}]  
        .marksman-heros 
             each marksman in marksmanItem
                  figure 
                      a(href="marksmanSkinShop.html") 
                          img(src=`assets/img/Marksman/${marksman.image}`, alt="")
                          figcaption= marksman.title

        button 
             a(href="allMarksman.html") See More...
