
.proskin.container 
         .p2ashower 
               h3 P2A Myanmar 
               p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione tempora sunt aliquid unde. Incidunt dolore dolorum, labore sint aut neque commodi ab dolores minima esse. Quo obcaecati officiis laudantium eaque!
.p2aservice.container 
         .p2aicon 
              .p2acard 
                  div 
                     i.fa.fa-clock 
                  div 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis eveniet distinctio voluptas laborum incidunt sequi ratione nam provident ea, sed unde, dignissimos quaerat doloribus vel quasi omnis blanditiis reiciendis vitae.
              .p2acard 
                   div 
                       i.fa.fa-van-shuttle 
                   div 
                       p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam sint quo, at vitae nobis, qui fugiat obcaecati minima iusto excepturi id, eveniet earum quaerat tempore adipisci beatae non corporis ipsam.
              .p2acard
                    div 
                         i.fa.fa-money-check-dollar 
                    div  
                         p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde voluptate at vero et, consequuntur magnam ipsa neque dolorem, modi facilis voluptatem tenetur reiciendis accusantium, impedit doloremque provident architecto possimus officia.
              .p2acard 
                    div 
                         i.fa.fa-message 
                    div 
                         p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet accusantium mollitia perspiciatis voluptatibus quisquam labore fugiat necessitatibus sunt dolore qui repellat iure aliquam, nihil ipsa explicabo esse aperiam eum quibusdam!
