.slide-wrapper.container 
        .head-first 
             img(src="assets/img/slide/slide-1.jpg", alt="" id="headimg" name="slide")
.head-second 
        a(href="#") 
             img(src="assets/img/scroll.gif", alt="")