section.tank-data.container#scroll
        .tank 
             h3 Tank Heros 
        - const tankItem=[{image:"1.jpg",title:"Akai"},{image:"2.jpg",title:"Grock"},{image:"3.jpg",title:"Hylos"},{image:"4.jpg",title:"Franco"},{image:"5.jpg",title:"Minotaur"},{image:"6.jpg",title:"Lolita"},{image:"7.jpg",title:"Johnson"},{image:"8.jpg",title:"Belerick"},{image:"9.webp",title:"Khufra"},{image:"10.webp",title:"Hilda"}]  
        .tank-heros 
             each tank in tankItem
                  figure 
                      a(href="allTank.html") 
                          img(src=`assets/img/Tank/${tank.image}`, alt="")
                          figcaption= tank.title

        button 
             a(href="allTank.html") See More...
